<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="UTF-8">
    {{ partial "meta.html" . }}
    {{ if ne $.Title $.Site.Title }}
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="alternate" type="application/rss+xml" href="index.xml">
    <title>{{$.Title}} - {{$.Site.Title}} - {{.Date.Format "2006-01-02"}}</title>
    {{ else }}
    <title>{{$.Title}}</title>
    {{ $sitetitle := .Site.Title }}
    {{ with .OutputFormats.Get "RSS" }}
    <link
            href="{{ .RelPermalink }}"
            rel="alternate"
            type="application/rss+xml"
            title="{{ $sitetitle }}"
    />
    {{ end }}
    {{ end }}
</head>
<body lang="{{ .Site.LanguageCode }}" itemscope itemtype="http://schema.org/Article">
