<div class="post-card repo-card">
  <div class="card">
    <div class="card-head">
      <a href="{{ .RelPermalink | relLangURL }}" class="post-card-link">
        <img class="card-img-top" src='{{ partial "helpers/get-hero.html" . }}' alt="Hero Image">
      </a>
    </div>
    <div class="card-body">
      <a href="{{ .RelPermalink | relLangURL }}" class="post-card-link">
        <h5 class="card-title">{{ .Title }}</h5>
        <p class="card-text post-summary">{{ .Summary }}</p>
      </a>
      {{ if and site.Params.features.tags.enable site.Params.features.tags.on_card }}
        {{ partial "misc/repotags.html" (index .Params "repo-tags" ) }}
      {{ end }}
      {{ if .Params.fork }} Forked {{ end }}
      {{ if .Params.archived }} Archived {{ end }}
    </div>
    <div class="card-footer">
      <span class="float-repot">
          {{ .Date | time.Format ":date_full" }}
          {{ if site.Params.features.readingTime }} | {{.ReadingTime}} {{ i18n "minute" .ReadingTime }} {{ end }}</span>
      <a
      href="{{ .RelPermalink | relLangURL }}"
      class="float-end btn btn-outline-info btn-sm">{{ i18n "more" }}</a>
    </div>
  </div>
</div>
