{{ partial "header.html" . }}
{{ partial "breadcrumbs.html" . }}
<section id="main">
    <h1>{{$.Title}}</h1>
    <article itemprop="articleBody" id="content" class="w-90 lh-copy">
        {{ .Content }}
    </article>
</section>
<section id="sidebar">
    Recent posts:
    <ul>
        {{- range $postI, $post := ( where site.RegularPages "Section" "post" ) }}
        <li><a href="{{$post.Permalink}}">{{$post.LinkTitle}} ({{$post.Date}})</a></li>
        {{end}}
    </ul>
</section>

{{ partial "footer.html" . }}
