{{ define "header" }}
{{ partial "single/header.html" . }}
{{ end }}

{{ define "navbar" }}
{{ partial "navigators/navbar.html" . }}
{{ end }}

{{ define "sidebar" }}{{ end }}

{{ define "content" }}
<section class="content-section" id="content-section">
  <div class="content">
    <div class="container p-0 read-area">
      <div class="page-content">
        <div class="post-content" id="post-content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
